h1{
	font-family: 'Tw Cen MT';
	font-weight: bold;
	color: #3920f6;
	font-size: 2.5em;
}
.face{
	font-size: 1.7em;
	margin: 200px 110px
	
}
h2{
	font-weight: 400;
	
}
.back{
	background-color: #ebeef1;
	height: 700px;
}
.form{
	background-color: white;
	height: 345px;
	width: 400px;
	margin-top: 140px;
	margin-right: 220px;
	border-radius: 2%;
	box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.4);
}
.form1{
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}
.form2{
	padding-left: 15px;
	padding-right: 15px;
}
#exampleinput{
	padding: 25px;
}
.button{
	width: 92%;
	position: relative;
	left: 15px;
	font-weight: bold;
	font-size: 1.3em;
		
}
hr{
	width: 90%;
	margin-top: 25px;
}
a{
	position: relative;
	top: 10px;
	left: 120px;
}
.button1{
	width: 40%;
	height: 48px;
	position: relative;
	left: 115px;
	top: 10px;
	font-weight: bold;
	font-size: 1.1em;
	padding-right: 10px;
}
.pp{
	padding-left: 253px;
	margin-top: -31px;
}
.aa{
	position: relative;
	top: 111px;
	color: #000;
font-weight: bold;
	
	
}

.rr{
	margin-top: -250px;
	padding-left: 690px;
}

@media screen and (max-width: 680px){
	.face{
		width: 100%;
	}
	
}
